.ChatPage {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'logout';
  background-color: white;
}

.ChatPage h1 {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 80px;
}

.ChatPage form {
  grid-area: main;
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: 8fr 1fr;
  grid-template-areas:
    'messages online'
    'message send';
}

.ChatPage__messages {
  grid-area: messages;
  border-style: inset;
}
.ChatPage__online {
  grid-area: online;
  border-style: outset;
}
.ChatPage__message {
  grid-area: message;
}
.ChatPage__btnSend {
  grid-area: send;
}
.ChatPage__btnLogout {
  grid-area: logout;
  block-size: 40px;
}
