.WelcomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.WelcomePage form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
